<div>
    <ul>
        <li>SKU: {{ref_number}}</li>
        <li><span uk-icon="icon: arrow-right"></span>: {{qty_to}}</li>
        <li class="timeStamp"><span uk-icon="icon: calendar"></span>: {{date}}</li>
    </ul>
</div>
