<tr >
    <td class="text-primary" id="{{id}}"><a class="text-primary aTagCollection" uk-icon="icon: plus-circle" href="#detail_{{id}}" uk-toggle></a></td>
    <td><a href="/records/{{ref_number}}">{{ref_number}}</a></td>
</tr>
