<div>
    <ul>
        <li class="text-primary">{{ref_number}} ({{qty_to}})</li>
        <li><span uk-icon="icon: arrow-right"></span>: {{sub_number}}</li>
        <li class="timeStamp"><span uk-icon="icon: calendar"></span>: {{date}}</li>
    </ul>
    <hr>
</div>
