<li>
    <a class="uk-accordion-title" href="#">{{action_notes}}</a>
        <div class="uk-accordion-content">
            <ul>
                <li class="action_notes"><i>{{ref_number}}</i></li>
                <li class="timeStamp"><span uk-icon="icon: calendar"></span>: {{date}}</li>
            </ul>
    </div>
</li>
