<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/loader_2.css">
<div class="uk-overflow-auto">
    <p class="uk-heading-line uk-text-right uk-margin-small-right"><span>所在页面 <span class="uk-text-bold uk-label uk-label-info">库存总揽（特殊物件）</span></span></p>
    <div class="loader" id="loader" style="display: none"></div>
    <div class="container">
        <table class="table shadow-sm table-hover table-striped" id="detailTable">
            <thead>
                <tr>
                    <th></th>
                    {{#if admin}}
                    <th>Dress SKU</th>
                    <th>Return #</th>
                    <th>Tracking #</th>
                    <th>Name</th>
                    <th>Condition</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th>Description</th>
                    {{else}}
                    <th>礼服序号</th>
                    <th>退货号码</th>
                    <th>邮寄单号</th>
                    <th>姓名</th>
                    <th>状态</th>
                    <th>颜色</th>
                    <th>尺寸</th>
                    <th>收货时间</th>
                    <th>备注</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#if admin}}
                    {{#each details as |detail|}}
                        {{> reference_dress-data_admin detail}}
                    {{else}}
                        <h3 class="text-center">No special item is found</h3>
                    {{/each}}
                {{else}}
                    {{#each details as |detail|}}
                        {{> reference_dress-data detail}}
                    {{else}}
                        <h3 class="text-center">没有找到任何库存物件</h3>
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
     $('#detailTable').DataTable();
    } );
</script>
{{!-- <script src="javascript/detail.js"></script> --}}
