{{#if admin}}
  <div class="container">
    <form
      id="modify_form"
      class="col-md-6 col-sm-8 mx-auto p-4 rounded bg-light"
    >
      <div class="mb-3 container">
        <nav aria-label="breadcrumb">
          <span
            class="badge badge-sm bg-secondary mb-2"
            onclick="activate(event)"
          >inactive</span>
          <span
            id="switch"
            class="badge badge-sm bg-info mb-2"
            onclick="changeTable(event)"
            style="display: none;"
          >Modify SKU Qty</span>
          <h3 id="h31">SKU Number:</h3>
          <h3 id="h32" style="display: none;">Account Id:</h3>
        </nav>
        <input
          type="text"
          class="form-control"
          id="scan_sku"
          placeholder="Scan or type..."
          onkeyup="delay(search(event))"
          disabled
        />
          <input
          type="text"
          class="form-control"
          id="scan_box"
          placeholder="Scan or type..."
          onkeyup="delay(searchAccount(event))"
          style="display: none;"
        />
      </div>
    </form>
    <div class="container">
      <table class="table table-striped" id="skuTable">
        <thead>
          <tr>
            <th>Box Number</th>
            <th>SKU Number</th>
            <th>Qty (editable)</th>
            <th>OK</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>

      <table class="table table-striped" id="boxTable" style="display: none;">
        <thead>
          <tr>
            <th>AM Box (type 1)</th>
            <th>Received (status = 1)</th>
            <th>Sealed (status = -1)</th>
            <th>OK</th>
          </tr>
        </thead>
        <tbody id="tbody2">
        </tbody>
      </table>
    </div>
  </div>

  <script src="javascript/modification.js"></script>
{{else}}
  <script src="javascript/client_redirect.js"></script>
{{/if}}
