<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="keyWordSearch" placeholder="key word search">
            </div>
        </div>
        <div class="col-md-auto">
            <button onclick="searchBtn()" class="btn btn-primary mb-2">Search</button>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="lead text-center" id="statmentHeader" onclick="statementFormation()">Search Summary: </div>
            <div id="statementBody" class="container border border-success p-2 rounded shadow-sm" style="display: none;"></div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Inventory Queue</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inventoryRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
            <div id="invQM">
                {{#each inventoryRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Request Queue</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each requestRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
            <div id="reqQM">
                {{#each requestRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead class="border border-warning">
                    <tr>
                        <th></th>
                        <th>Handling Queue</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each handleRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
             <div id="hanQM">
                {{#each handleRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Client Confirmation</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each initialConfirmRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
             <div id="incQM">
                {{#each initialConfirmRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Admin Confirmation</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each finalConfirmRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
             <div id="ficQM">
                {{#each finalConfirmRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead class="border border-info">
                    <tr>
                        <th></th>
                        <th>Label Change</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each xcRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
                <div id="xccQM">
                {{#each xcRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
            </table>
        </div>
    </div>
</div>

<script src="javascript/records_LandingPage.js"></script>
